name: production-whatsapp-communication-service
services:
  whatsapp:
    build:
      context: .
      dockerfile: Dockerfile.local
    image: whatsapp-communication-service:latest
    env_file:
      - .env.production.local
    container_name: whatsapp-communication-service
    restart: always
    ports:
      - "3100:3100"
    networks:
      smart-net:
        aliases: [whatsapp-communication-service]
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3100/v1/ping"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 20s
    volumes:
      - ./certs:/app/certs:ro
      - ./logs:/app/logs
      - ./wa-sessions:/app/wa-sessions

networks:
  smart-net:
    external: true